body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(254, 254, 254, 0.511);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 60px auto;
    padding: 30px;
    background: white;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: rgb(87, 172, 188);
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: rgba(87, 171, 188, 0.7);
}

#posts-container {
    margin-top: 30px;
}

.post {
    border-bottom: 1px solid #ddd;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 15px;
    border-radius: 8px;
}

.post:hover {
    background-color: rgba(87, 171, 188, 0.1);
}

.post h2 {
    margin: 0;
    color: #444;
}

.post p {
    margin: 10px 0;
    color: #666;
}

.post-details {
    margin-top: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.post-details h3 {
    margin-top: 20px;
    color: #444;
}

.post-details ul {
    list-style-type: none;
    padding: 0;
}

.post-details li {
    margin-bottom: 15px;
}

.post-details li p {
    margin: 5px 0;
    color: #666;
}

.loading {
    text-align: center;
    font-size: 20px;
    padding: 20px;
    color: #444;
}

.error {
    text-align: center;
    color: red;
    font-size: 18px;
    padding: 20px;
    background-color: #ffeeee;
    border: 1px solid #cc0000;
    border-radius: 5px;
    margin-top: 20px;
}

button.back-button {
    margin-top: 20px;
    background-color: #444;
    color: white;
}

button.back-button:hover {
    background-color: #333;
}
